[Unit]
Description=Tiny Tiny RSS update daemon
After=network.target postgresql.service
Requires=postgresql.service

[Service]
User=nginx
Group=nginx
WorkingDirectory=/var/www/html/rss/
Type=simple
StandardOutput=null
StandardError=syslog
ExecStart=/bin/php ./update_daemon2.php
PrivateTmp=true
InaccessibleDirectories=/home /root /boot /opt /mnt /media
ReadOnlyDirectories=/etc /bin

[Install]
WantedBy=multi-user.target
